$color-alpha = #333;
$color-beta = #FFF;
$color-gamma = #4D4D4D;
$color-delta = #5F5F5F;
$color-epsilon = #858585;
$color-zeta = #A6A6A6;
$color-eta = #C7C7C7;
$color-theta = #E7E7E7;
$color-iota = #F4F4F4;
$button-transition = all 0s;
$button-transition-delay = 300ms;
$dim-micro = 6px;
$dim-small = 14px;
$dim-mega = 60px;
$highlight-color = #000;

$xs = {                end:  768px, name: xs }
$s  = { start:  768px, end:  992px, name: s  }
$m  = { start:  992px, end: 1200px, name: m  }
$l  = { start: 1200px,              name: l  }

/**
 * notice the () around teh attribute. that is because of
 * :host([attr]) syntax to style the host node.
 *
 * example:
 *  &([horizontal-lt-s/m/l]) { mixin() }
 *  &([horizontal-gt-xs/s/m]) { mixin() }
 *  &([horizontal-xs/s/m/l]) { mixin() }
 *  &([horizontal]) { mixin() }
 * would be created by:
 * responsifyHost("& > ", horizontal, mixin)
 */
responsifyHost(selector, attr, content) {
  // attr-lt-[s,m,l]
  for $range in $s $m $l {
    {selector}([{attr}-lt-{$range.name}]) {
      @media (max-width: $range.start) {
        content();
      }
    }
  }
  // attr-gt-[xs,s,m]
  for $range in $xs $s $m {
    {selector}([{attr}-gt-{$range.name}]) {
      @media (min-width: $range.end) {
        content();
      }
    }
  }
  // attr-[xs,s,m,l]
  for $range in $s $m {
    {selector}([{attr}-{$range.name}]) {
      @media (max-width: $range.start) and (min-width: $range.end) {
        content();
      }
    }
  }
  // attr
  {selector}([{attr}]) {
    content();
  }
}

:host {
  border-top: 1px solid $color-iota;
  background: $color-beta;
  .selected-indicator {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: $highlight-color;
    transition: all 0.2s ease;
    transform: translateX(0);
  }
  _vertical() {
    .selected-indicator {
      top: 0px;
      left: 0px;
      width: 3px ;
      transform: translateX(0);
    }
  }
  responsifyHost("&", vertical, _vertical);
}

::content brick-tabbar-tab {
  height: 45px;
  line-height: 45px;
  cursor: pointer;
  position: relative;
  font-style: italic;
  color: $color-epsilon;
  &:active {
    transition: none;
    opacity: 0.3;
  }
  &[selected]:active {
    background: transparent;
  }
}

