brick-tabbar {
  border-top: 1px solid #808080;
  background: #fff;
}
brick-tabbar brick-tabbar-tab {
  height: 45px;
  line-height: 45px;
  cursor: pointer;
  position: relative;
  font-style: italic;
  color: #858585;
}
brick-tabbar brick-tabbar-tab:active {
  transition: none;
  opacity: 0.3;
}
brick-tabbar brick-tabbar-tab[selected]:active {
  background: transparent;
}
brick-tabbar brick-tabbar-tab:after {
  content: " ";
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  background: #333;
  transition: all 0.2s;
  transform: scaleX(0);
}
brick-tabbar brick-tabbar-tab[selected]:after {
  transform: scaleX(1);
}
