:host {
  border-top: 1px solid #808080;
  background: #fff;
}
:host .selected-indicator {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0px;
  height: 3px;
  background: #008000;
  width: 100px;
  transition: all 0.2s ease-in-out;
  transform: translateX(0);
}
:host ::content brick-tabbar-tab {
  height: 45px;
  line-height: 45px;
  cursor: pointer;
  position: relative;
  font-style: italic;
  color: #858585;
}
:host ::content brick-tabbar-tab:active {
  transition: none;
  opacity: 0.3;
}
:host ::content brick-tabbar-tab[selected]:active {
  background: transparent;
}
